<nav class="pagination" role="pagination">
  <a href="#" class="pagination-previous">Previous</a>
  <a href="#" class="pagination-next">Next page</a>

  <ul class="pagination-list">
    @each(page in paginationArray(pagination.lastPage))
    <li>
      <a href="#" class="pagination-link">
        {{ page }}
      </a>
    </li>
    @endeach
  </ul>
</nav>
