<article class="media">
  <div class="media-left">
    avatar
  </div>

  <div class="media-content">
    <div class="content">
      <h4>
        <a href="">
          {{ post.title }}
        </a>
        <span class="tag">{{ post.tag.name }}</span>
      </h4>
    </div>
  </div>
</article>
